# ignorar pasta de de checkpoint de jupyter notebooks
scripts/ipynb/.ipynb_checkpoints/

# ignorar arquivos airflow
airflow*
webserver*

# ignorar logs de execução airflow
logs/

# ignorar arquivos de configuração
scripts/config/

