# ignorar pasta de de checkpoint de jupyter notebooks
scripts/ipynb/.ipynb_checkpoints/

# ignorar arquivos airflow
airflow*
webserver*

# ignorar logs de execução airflow
logs/

# ignorar arquivos de configuração
scripts/config/

# ignorar pasta de imagens
images/

# ignorar pasta outros
outros/

# ignorar pasta weka
weka/

# ignorar arquivo de workspace R
.RData

# ignorar arquivo de histórico R
.Rhistory


